* {
  padding: 0px;
  margin: 0px;
}

img.covergif {
  opacity: 0.7;
}
img.covergif:hover {
  opacity: 1;
}

.gridtext {
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}
video {
  width: 100%;
  height: auto;
}
.carouselMar {
  margin-bottom: 155px;
}

/* 
font-family: 'EB Garamond', serif;
font-family: 'Montez', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Scada', sans-serif;
*/

.full-size-img {
  background-image: url(../Images/bg-collage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
/* @media screen and (min-width: 1300px) {
.trick{
  background-image: url(../Images/bg-si.jpg);
  background-size: contain;
  background-repeat: repeat;
}
} */




@media screen and (min-width: 1300px) {
  .fil-i {
    background-image: url(../Images/bg-mural.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.hoverme:hover {
  color: green;
  background-color: transparent;
}

.checkgree:hover {
  color: green;
}


  div.fill-i {
    background-image:  url(../Images/bg-signup.png) ;
   
    background-repeat: no-repeat;
    background-size: 625px;
    position: relative;
    top:200px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));


      
    }


/* hover */

.imag {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middl {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contain:hover .imag {
  opacity: 0.3;
}

.contain:hover .middl {
  opacity: 1;
}

.te {
  color: white;
}

.color-true {
  background-image: url(../Images/lake-696098_1920.jpg);
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .hidden-class {
    display: none;
  }
}

/* form control */

.form-co {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

/* .form-co label {
  display: inline-block;
  margin-bottom: 5px;
} */

/* .form-co input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
} */

.form-co input:focus {
  outline: 0;
  border-color: #777;
}

.form-co.success input {
  border-color: #2ecc71;
}

.form-co.error input {
  border-color: #e74c3c;
}

.form-co i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 20px;
}

.form-co.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-co.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-co small {
  color: #e74c3c;
  position: relative;
  bottom: 0;
  left: 10;
  visibility: hidden;
}

.form-co.error small {
  visibility: visible;
}

/* indicator */

.indicator {
  height: 5px;
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
  transition: all 1s;
}

.indicator span {
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 5px;
}
.indicator span:nth-child(2) {
  margin: 0 3px;
}
.indicator span.active:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.indicator span.weak:before {
  background-color: #b90615;
}
.indicator span.medium:before {
  background-color: rgb(231, 150, 0);
}
.indicator span.strong:before {
  background-color: #0c8d42;
}

.text {
  font-size: 15px;
  
  font-variant-alternates: ornaments();
  font-weight:lighter;
  display: none;
  margin-bottom: 2px;
  
}
.text.weak {
  color: #b90615;
}
.text.medium {
  color: rgb(231, 150, 0);
}
.text.strong {
  color: #0c8d42;
}
